@page "/chart"
@attribute [Authorize]

<h3>Chart v1.1 - 2 charts</h3>
<label>Кол-во точек:</label>
<input type="number" id="tentacles" name="tentacles" @bind="currentCountPoinst" min="10" max="1000000">
<button class="btn btn-primary" @onclick="Apply">Применить</button>

<input type="checkbox" id="addition1" @bind="isanimate"/>
<label>IsAnimate</label>


<AmCharts Class="chartdiv" ChartControl="_chartControl"></AmCharts>



@code {
    ChartControl _chartControl = null;
    private int currentCountPoinst = 10000;
    public bool isanimate {get;set;}

    protected override void OnInitialized()
    {
        _chartControl = new ChartControl();        
    }

    private void Apply()
    {        
        _chartControl = new ChartControl(currentCountPoinst, 2, isanimate);
    }

}
