@page "/chart"

<h3>Chart v1</h3>
<p>Кол-во точек:</p>
<input type="number" id="tentacles" name="tentacles" @bind="currentCountPoinst"
       min="10" max="1000000">
<button class="btn btn-primary" @onclick="Apply">Применить</button>

<AmChartsComponent.AmCharts Class="chartdiv" ChartControl="_chartControl"></AmChartsComponent.AmCharts>

<!--<BlazorChart.Chart Id="chartdiv1" Class="chartdiv"></BlazorChart.Chart>

<BlazorChart.Chart Id="chartdiv2" Class="chartdiv"></BlazorChart.Chart>

<BlazorChart.Chart Id="chartdiv3" Class="chartdiv"></BlazorChart.Chart>-->


@code {
    ChartControl _chartControl = null;
    private int currentCountPoinst = 10000;

    protected override void OnInitialized()
    {
        _chartControl = new ChartControl(5, 2);        
    }

    private void Apply()
    {        
        _chartControl = new ChartControl(currentCountPoinst, 2);
    }

}
